export APPLICATION_SECRET="... pwgen -s 64 1 ..."
export GOOGLE_MAPS_JS_KEY='... get from Google Cloud Console ...'
export GOOGLE_MAPS_SERVER_KEY='... get from Google Cloud Console ...'
export CALENDAR_PRICE_CHF=24
export CALENDAR_PRICE_EUR=24
export CALENDAR_SHIPPING_CHF=8
export CALENDAR_SHIPPING_EUR=8
export CALENDAR_EMAIL=calendar@bahnbilder.ch
export CALENDAR_YEAR=2025
export CALENDAR_ORDER_AVAILABLE=false
export MAIL_FROM=noreply@bahnbilder.ch
export MAIL_HOSTNAME=smtp.eu.mailgun.org
export MAIL_USERNAME="... sign up at Mailgun ..."
export MAIL_PASSWORD="... sign up at Mailgun ..."
export MAIL_PORT=587
export RAILINFO_HOSTNAME='railinfo.kabelverhau.ch'
export LIVEFILES_HOSTNAME='bahnbilder.ch'
export MAC_SIGNING_KEY="... pwgen -s 512 | sha512sum ..."

# optional, not required if MongoDB runs on localhost without authentication
#export MONGO_HOSTS="host1:27017,host2:27017,host3:27017"
#export MONGO_USERNAME="bahnbilder"
#export MONGO_PASSWORD="..."
#export MONGO_AUTH_DB="admin"
