@(  implicit request: Http.Request,
    email: String,
    name: String,
    password: String,
    errors: Map[String, String],
    user: entities.User,
    lang: String
)

@template(request, "Create User", "manage-users", user, lang) {
} {
    @form(request, routes.UsersController.createPost()) {
        @formInputText("E-Mail Address", "email", email, false, errors, lang)
        @formInputText("Name", "name", name, false, errors, lang)
        @formInputPassword("Password", "password", password, errors, lang)
        <div class="mt-3"></div>
        @formButtons("create", routes.UsersController.list(), lang)
    }
}