@(  request: Http.Request,
    keywords: List[_ <: entities.Keyword],
    user: entities.User,
    lang: String,
)

@template(request, i18n.Txt.get(lang, "keywords"), "manage", user, lang) {
} {
    <h1>@i18n.Txt.get(lang, "keywords")</h1>
    @manageNav("keywords", lang)

    <div class="columns">
        @for(keyword <- keywords) {
            @keyword.getName(lang)&nbsp;<a href='@routes.ManagementController.createOrUpdateKeyword(request.uri(), keyword.getId)'><i class='fas fa-sm fa-pen' ></i></a><br />
        }
    </div>
    <div class="mt-3">
        <a href='@routes.ManagementController.createOrUpdateKeyword(request.uri(), null)'>@i18n.Txt.get(lang, "createKeyword")...</a>
    </div>
}
