@(  request: Http.Request,
    email: String,
    errors: Map[String, String],
    lang: String,
)

@template(request, i18n.Txt.get(lang, "lostPassword"), "login", null, lang) {
} {
    <div class="row">
        <div class="col-xl-6">
            @form(request, routes.LoginController.lostPasswordPost()) {
                @formInputText(i18n.Txt.get(lang, "email"), "email", email, false, errors, lang)
                <div class="mt-3"></div>
                @formButtons("lostPasswordMail", routes.LoginController.login(), lang = lang)
            }
        </div>
    </div>
}
