@(  implicit request: Http.Request,
    aboutUser: entities.User,
    userSince: Integer,
    user: entities.User,
    lang: String
)

@template(request, i18n.Txt.get(lang, "about"), "about", user, lang) {
} {
    <h2>@aboutUser.getName()</h2>
    <p>@i18n.Txt.get(lang, "userSince", userSince + "")</p>


    <p>Diese Seite ist ein Privatprojekt von einigen Eisenbahnfotografen. Sie entstand aus der Erkenntnis heraus, dass man als Fotograf zwar gerne grosse Mengen an Bildern anh&auml;uft, was aber nicht viel n&uuml;tzt, wenn es nicht m&ouml;glich ist, die gew&uuml;nschten Bilder auch wieder zu finden. Im Internetzeitalter lag es da nahe, die Bilder auf einen Webserver zu stellen, die Metainformationen in eine Datenbank zu f&uuml;ttern und das Ganze auf verschiedene Arten durchsuchbar zu machen.</p>
    <p>Leider gibt es bis heute keine Fertigl&ouml;sung, die die gew&uuml;nschten Kategorisierungsm&ouml;glichkeiten unterst&uuml;tzt. So entstand 2007 die erste Version dieser Webseite, welche unter Anderem - damals war das noch aussergew&ouml;hnlich - eine Google Maps-Integration f&uuml;r die Angabe der Aufnahmeorte (&quot;Fotostellen&quot;) und ausf&uuml;hrliche Kategorisierung der Bilder mit entsprechenden Suchm&ouml;glichkeiten bot.</p>
    <p>Gut f&uuml;nf Jahre sp&auml;ter, Ende 2012, war es Zeit, das Design optisch aufzufrischen und den alten PHP-Code (ein &uuml;bler Verhau aus beliebigen Funktionen und assoziativen Arrays) einem angemessenen Ziel zuzuf&uuml;hren - der M&uuml;lltonne. Die neue Version übernahm zwar viele Elemente der vorherigen Webseite, war aber von Grund auf neu gebaut und verwendete statt dem vorherigen hellen Farbschema das heutige dunkle.</p>
    <p>In 2020 das Layout auf Bootstrap 4 umgestellt, um die Seite besser auf Mobilger&auml;ten nutzbar zu machen.</p>
    <p>In 2025 wurde das Back-End neugeschrieben inkl. Wechsel von PHP/MySQL auf Java/Play Framework/MongoDB, um weitere Altlasten los zu werden und eine angenehmere Entwicklungsumgebung zu haben.</p>
    <p>So, nun wünschen wir viel Spass!</p>
    <h3>Kontakt</h3>
    <table class="simpleTable">
        <tr><td><a href="mailto:david@@bahnbilder.ch">david@@bahnbilder.ch</a></td><td>Bilder von David Gubler, Entwicklung und Betrieb der Webseite</td></tr>
        <tr><td><a href="mailto:paszingg@@bluewin.ch">paszingg@@bluewin.ch</a></td><td>Bilder von Pascal Zingg</a></td></tr>
        <tr><td><a href="mailto:JisBjoern@@t-online.de">JisBjoern@@t-online.de</a></td><td>Bilder von Christof Hofbauer</a></td></tr>
        <tr><td><a href="mailto:michel-huber@@bluewin.ch">michel-huber@@bluewin.ch</a></td><td>Bilder von Michel Huber</a></td></tr>
        <tr><td><a href="mailto:bahnbilder@@huerz.ch">bahnbilder@@huerz.ch</a></td><td>Bilder von Peter Hürzeler</a></td></tr>
        <tr><td><a href="mailto:nbechtiger@@gmail.com">nbechtiger@@gmail.com</a></td><td>Bilder von Neel Bechtiger</a></td></tr>
        <tr><td><a href="mailto:daniel.wipf@@gmail.com">daniel.wipf@@gmail.com</a></td><td>Bilder von Daniel Wipf</a></td></tr>
    </table>
    <p></p>
    <h3>Quellcode</h3>
    <p>Der Quellcode dieser Webseite ist verfügbar unter der AGPL-Lizenz: <a href="https://github.com/davidgubler/bahnbilder.ch" target="_blank">github.com/davidgubler/bahnbilder.ch</a></p>
}
