@(  link: String,
    search: entities.ModelSearch,
    showSortBy: Boolean,
    mapButton: Boolean,
    lang: String,
)
@if(link == "search" && search.isActive) {
    @breadCrumbsImpl(search, "/search?" + search.toQueryInactive(), null, null, null, null, showSortBy, mapButton, lang)
}
@if(link == "browse") {
    @breadCrumbsImpl(search, null,
        routes.BrowseController.world().toString,
        routes.BrowseController.country(1, search.getCountryId).toString,
        routes.BrowseController.operator(1, search.getCountryId, search.getOperatorId).toString,
        routes.BrowseController.vehicleClass(1, search.getCountryId, search.getOperatorId, search.getVehicleClassId).toString, showSortBy, mapButton, lang)
}
