@(  link: String,
    search: entities.ModelSearch,
    showSortBy: Boolean,
    lang: String,
)
@if(link == "search" && search.isActive) {
    @breadCrumbsImpl(search, "/search?" + search.toQueryInactive(), null, null, null, null, showSortBy, lang)
}
@if(link == "browse") {
    @breadCrumbsImpl(search, null,
        routes.BrowseController.browse(1, null, null, null).toString,
        routes.BrowseController.browse(1, search.getCountryId, null, null).toString,
        routes.BrowseController.browse(1, search.getCountryId, search.getOperatorId, null).toString,
        routes.BrowseController.browse(1, search.getCountryId, search.getOperatorId, search.getVehicleClassId).toString, showSortBy, lang)
}
