@(  label: String,
    name: String,
    value: String,
    errors: Map[String, String],
    lang: String,
)

<div class="form-group row mb-1">
    <label for="@name" class="col-xl-3 col-lg-4 col-md-12 col-form-label">@label</label>
    <div class="col-xl-9 col-lg-8 col-md-12">
        <input type="password" class="form-control @if(errors.containsKey(name)){is-invalid}" id="@name" name="@name" value="@value">
        @if(errors.containsKey(name)) {
        <div class="invalid-feedback">@i18n.Txt.get(lang, errors.get(name))</div>
        }
    </div>
</div>