@(  implicit request: Http.Request,
    consolidatedUrlStats: Map[String, List[entities.UrlStats]],
    user: entities.User,
    lang: String
)

@template(request, i18n.Txt.get(lang, "requestStats"), "requestStats", user, lang) {
} {
    <h2>@i18n.Txt.get(lang, "requestStats")</h2>
    @for(domain <- consolidatedUrlStats.keySet().toList.sorted) {
        <b>@domain</b><br />
        @for(urlStats <- consolidatedUrlStats.get(domain)) {
            &nbsp;&nbsp;&nbsp;@urlStats.getCount(): <a href="https://@urlStats.getReferer()" target="_blank">@if(urlStats.getReferer().length > 64){@urlStats.getReferer().substring(0, 60)...}else{@urlStats.getReferer()}</a> &rarr; @urlStats.getUrl()<br />
        }
    }
}
